*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    width: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 

.padding{
    padding: 0 10%;
}
.d-flex{
    display: flex;
}
nav{
    padding: 0 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.611);
    display: flex;
    justify-content: space-between;
   position: fixed;
}
nav>ul>li{
    padding: 0 1px;
    margin: 0 20px;
}
nav> h3 ,ul{
    padding: 25px 0;
}
.nav__a{
    color: aliceblue;
    text-decoration: none;
}
.One-Page-Wonder{

    height: 700px;
    background-image: linear-gradient(70deg ,rgb(180, 11, 11),orange,rgb(255, 0, 187),orange);
    font-family: 'Work Sans', sans-serif !important;
}
.One-Page-Wonder>div{
    padding: 15%;
    font-size: 50px;
    text-align: center;
    color: white;
}
.One-Page-Wonder>div>button{
    padding: 2.5% 5%;
    margin-top: 3%;
    font-size: 20px;
    border: 1px solid rgba(255, 0, 0, 0.004);
    border-radius: 40px;
    background-color:rgb(255, 0, 187);
    color: white;
}
.For-those-about{
    font-family: 'Catamaran', sans-serif !important;
 margin: 5% 0;
    width: 100%;
    height: 500px;
}
.For-those-about img{
border-radius: 50%;
width: 100%;
height: 100%;
}
.For-those-about .p{
    font-size: 50px;
}
.text{
    padding: 10% 7%;
}
footer{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    padding: 4% 40%;
}
.hamburger{
    display: none !important;
}
@media only screen and (max-width: 991px ){
    .col-6{
        width: 100% !important;
    }
    .row{
        flex-direction: column;

    }
    .For-those-about{
        height: fit-content
    }
    .reverse-row{
        flex-direction: column-reverse !important;
    }
    .padding{
        padding: 0 20%;
    }
    .tel{
        display: none;
    }
    .hamburger{
        display: block !important;
        padding-top: 20px;
        font-size: 30px;
    }
    
}